<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/images/Isotipo.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andes Salud</title>
    <link rel='stylesheet' href='/stylesheets/styles.css' />
</head>

<body class="credenciales">
    <h1>Tu Credencial</h1>
    <main>
        <section class="frente">
            <article class="frente-card <%= plan %>">
                <div class="frente-superior">
                    <div class="frente-imagen">
                        <img src="/images/Isotipo.svg" alt="">
                        <div class="fuente">
                            <h5>andes</h5><span>salud</span>
                        </div>
                    </div>
                    <h2>Plan <%=plan %></h2>
                </div>
                <div class="frente-contenido">
                    <h3><%= nombreAfiliado %></h3>
                    <p><%= numAfiliado %> </p>
                    <p><%= fecVencimiento %> </p>
                </div>
            </article>
        </section>
        <section class="dorso">
            <article class="dorso-card <%= plan %>">
                <div class="dorso-superior">
                    <div class="dorso-imagen">
                        <img src="/images/Isotipo.svg" alt="">
                        <div class="fuente">
                            <h5>andes</h5><span>salud</span>
                        </div>
                    </div>
                </div>
                <div class="dorso-contenido">
                    <p>Esta credencial es personal e intransferible para uso exclusivo del titular. Debe presentarse
                        acompañado de DNI o Celdula de Identidad</p>
                    <h6>www.andessalud.com.ar</h6>
                    <p>Superintendencia de Servicio de Salud</p>
                    <span>Órgano de Control 0800 222 SALUD (72583) www.sssalud.gov.ar</span>
                    <div class="dorso-gris"></div>
                </div>
            </article>
        </section>
    </main>
</body>

</html>